<h1>RESTAURANTS NEAR YOU</h1>
<form id="searchForm" method="POST" action="/api/search-restaurants">
  <input type="hidden" id="latitude" name="latitude">
  <input type="hidden" id="longitude" name="longitude">
</form>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Status</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.vicinity}}</td>
      <td>{{this.business_status}}</td>
      <td>
        {{#if this.isFavourited}}
          <p></p>
        {{else}}
          <button class="btn btn-primary btn-sm favourite-button" 
                  data-name="{{this.name}}" 
                  data-vicinity="{{this.vicinity}}" 
                  data-status="{{this.business_status}}">
            FAVOURITE
          </button>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
